<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${'LiLA - '+status+' '+error}"></title>
        <th:block th:replace="fragments/header.html :: header"></th:block>
    </head>
    <body>
        <div class="all-center fill-page">
            <b style="font-size: 4em;" th:text="${status}"></b>
            <p style="margin-bottom: 20px; font-weight: 600; font-size: 1.3em;" th:text="${error}"></p>
            <a href="/" class="button transition">홈으로 이동하기</a>
        </div>
    </body>
</html>