<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${'LiLA - '+name}"></title>
        <th:block th:replace="fragments/header.html :: header"/>
        <link rel="stylesheet" href="/static/styles/problem.css">
        <link rel="stylesheet" href="/static/styles/lilac.css">
        <script src="/static/scripts/problem/judge.js"></script>
        <th:block th:replace="fragments/header.html :: mathjax"/>
        <th:block th:replace="fragments/header.html :: mathquill"/>
    </head>
    <body>
        <div class="grid-layout">
            <th:block th:replace="fragments/base.html :: header-hamburger"/>
            <th:block th:replace="fragments/base.html :: header-nav"/>
            <section class="container" th:unless="${active==3}">
                <h1 class="problem-title" th:text="${name}"></h1>
                <div class="info">
                    <div class="controls">

                    </div>
                    <div class="tags">
                        <th:block th:replace="${tags[0]}  ? ~{fragments/tags.html :: 0}  : ~{}"/>
                        <th:block th:replace="${tags[29]} ? ~{fragments/tags.html :: 29} : ~{}"/>
                        <th:block th:replace="${tags[30]} ? ~{fragments/tags.html :: 30} : ~{}"/>
                        <th:block th:replace="${tags[31]} ? ~{fragments/tags.html :: 31} : ~{}"/>
                    </div>
                </div>
                <div class="notice glow" th:unless="${active==0}">
                    <p th:unless="${active==0}" class="problem-notice-error">이 문제는 제출할 수 없습니다.</p>
                </div>
                <div class="problem-content" th:utext="${content}"></div>
                <div class="problem-answer" id="answer-area" th:utext="${solution}"></div>
                <div class="problem-answer-field vertical-align" id="answer-input">
                    <div class="glow judge-element" th:each="judge: ${answer}">
                        <p class="judge-name" th:text="${judge.getName()}"></p>
                        <div class="answer-area">
                            <th:block th:if="${judge.getMethodCode() == 0}">
                                <div class="answer-field" jtype="0">
                                    <button class="button transition" th:id="${'js-'+judgeStat.index+'-ac'}" th:onclick="ac([[${judgeStat.index}]])" disabled>정답</button>
                                    <button class="button transition" th:id="${'js-'+judgeStat.index+'-wa'}" th:onclick="wa([[${judgeStat.index}]])" disabled>오답</button>
                                </div>
                            </th:block>
                            <th:block th:if="${judge.getMethodCode() == 1}">
                                <span jtype="1" class="math-edit answer-field" th:id="${'je-'+judgeStat.index}"></span>
                            </th:block>
                        </div>
                    </div>
                    <div class="submit-notice">
                        <p>정답 및 채점 규칙에 맞게 입력해야 정답처리됩니다.</p>
                    </div>
                    <div class="judge-control horizontal-align">
                        <button class="button" onclick="preSubmit()" id="submit">제출</button>
                        <button class="button" id="answer">정답만</button>
                    </div>
                </div>
            </section>
            <section class="container" th:if="${active==3}">
                <p class="problem-notice-error">비공개된 문제입니다.</p>
                <br>
                <a class="button" th:href="${'/problems/update/'+code}">수정</a>
            </section>
            <th:block th:replace="fragments/base.html :: footer"/>
        </div>
    </body>
    <script>
        const PROBLEM_CODE = [[${code}]]
    </script>
    <th:block th:replace="fragments/modules.html :: math"/>
</html>