<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${'LiLA - '+name}"></title>
        <th:block th:replace="fragments/header.html :: header"></th:block>
        <link rel="stylesheet" href="/static/styles/problem.css">
        <link rel="stylesheet" href="/static/styles/lilac.css">
    </head>
    <body>
        <div class="grid-layout" th:unless="${active=='UNPUBLISHED'}">
            <th:block th:replace="fragments/base.html :: header-hamburger"></th:block>
            <th:block th:replace="fragments/base.html :: header-nav"></th:block>
            <section class="container">
                <h1 class="problem-title" th:text="${name}"></h1>
                <div class="problem-content" th:utext="${content}"></div>
                <div class="problem-answer" th:utext="${solution}"></div>
                <div class="problem-answer-field"></div>
                <div class="notice">
                    <p th:unless="${active=='OPEN'}">이 문제는 제출할 수 없습니다.</p>
                </div>
            </section>
            <th:block th:replace="fragments/base.html :: footer"></th:block>
        </div>
        <div class="grid-layout" th:if="${active=='UNPUBLISHED'}">
            <p>비공개된 문제입니다.</p>
        </div>
    </body>
</html>