<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${newProblem}">새 문제 만들기</title>
    <title th:unless="${newProblem}" th:text="${problem_code+'번 문제 수정'}"></title>
    <th:block th:replace="fragments/header.html :: header"/>
    <th:block th:replace="fragments/header.html :: react"/>
    <link rel="stylesheet" href="/static/styles/problem.css">
    <link rel="stylesheet" href="/static/styles/lilac.css">
    <link rel="stylesheet" data-name="vs/editor/editor.main"
          href="https://cdn.lucys.r-e.kr/monaco-editor/min/vs/editor/editor.main.css"/>
    <link href="https://cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-ligature-full.css" rel="stylesheet"/>
    <script>var require = {paths: {'vs': '//cdn.lucys.r-e.kr/monaco-editor/min/vs'}};</script>
    <script src="https://cdn.lucys.r-e.kr/monaco-editor/min/vs/loader.js"></script>
    <script src="https://cdn.lucys.r-e.kr/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script src="https://cdn.lucys.r-e.kr/monaco-editor/min/vs/editor/editor.main.js"></script>
    <th:block th:replace="fragments/header.html :: mathjax"/>
    <script src="/static/scripts/lilac/monaco-lilac.js"></script>
    <script src="/static/scripts/problem/problemSettings.js"></script>
</head>
<body>
<th:block th:replace="fragments/base.html :: header-hamburger"/>
<th:block th:replace="fragments/base.html :: header-nav"/>
<section class="container">
    <h1 class="section-header" th:if="${newProblem}">새 문제 만들기</h1>
    <h1 class="section-header" th:unless="${newProblem}" th:text="${problem_code+'번 문제 수정'}"></h1>
    <div class="vertical-align problem-header">
        <input id="name" type="text" title="문제 제목">
        <div class="horizontal-align">
            <select id="difficulty" title="난이도">
                <option disabled selected>난이도</option>
                <option>Not set</option>
                <option>Unrated</option>
                <option>Bronze</option>
                <option>Silver</option>
                <option>Gold</option>
                <option>Amber</option>
                <option>Crystal</option>
                <option>Emerald</option>
                <option>Sapphire</option>
                <option>Ruby</option>
                <option>Diamond</option>
            </select>
            <select id="branch" title="분야">
                <option disabled selected>분야</option>
                <option>일반</option>
                <optgroup label="수학">
                    <option>대수</option>
                    <option>조합</option>
                    <option>기하</option>
                    <option>정수</option>
                </optgroup>
                <optgroup label="과학">
                    <option>물리학</option>
                    <option>화학</option>
                    <option>생물학</option>
                </optgroup>
            </select>
            <select id="status" title="상태">
                <option disabled selected>상태</option>
                <option>열림</option>
                <option>검토중</option>
                <option>제출 불가</option>
                <option>공개되지 않음</option>
            </select>
        </div>
    </div>
    <div class="block">
        <h3 class="block-header">문제 내용*</h3>
        <div class="glow">
            <div id="content" class="editor"></div>
        </div>
    </div>
    <div class="block">
        <h3 class="block-header">풀이*</h3>
        <div class="glow">
            <div id="solution" class="editor"></div>
        </div>
    </div>
    <div class="block">
        <h3 class="block-header">정답*</h3>
        <div id="judge-settings"></div>
    </div>
    <div class="block">
        <h3 class="block-header">태그</h3>
        <div class="vertical-align glow">
            <label class="checkbox" title="세트형">
                <input type="checkbox" id="o1">
                    <div class="checkmark transition">
                        <img src="/static/images/icon/check.svg" class="transition">
                    </div>
                <span>세트형</span>
            </label>
        </div>
    </div>
    <div class="block">
        <h3 id="preview-header" class="block-header">미리보기</h3>
        <div id="preview" class="glow">
            <i style="color: var(--caption-gray)">문제 미리보기가 여기 표시됩니다.</i>
        </div>
    </div>
    <div class="block horizontal-align">
        <button id="commit" class="button" onclick="create()" th:if="${newProblem}">Create</button>
        <button id="update" class="button" th:onclick="update([[${problem_code}]])" th:unless="${newProblem}">Update
        </button>
        <button id="previw" class="button" onclick="preview()">Preview</button>
    </div>
</section>
<th:block th:replace="fragments/base.html :: footer"/>
<th:block th:replace="fragments/modules.html :: notification"/>
</body>
<th:block th:replace="fragments/modules.html :: math"/>
<script>
        const vContent = new monaco.editor.create(document.getElementById('content'), setLilac('== 문제 =='));
        const vSolution = new monaco.editor.create(document.getElementById('solution'), setLilac('== 풀이 ==\n\n== 정답 =='));

</script>
<script th:unless="${newProblem}">
        axios.get('/problems/get?problem-code=[[${problem_code}]]')
        .then(resp => {
            if(resp.data.result.code != [[${problem_code}]]) {
                notification('문제를 불러오지 못했습니다.', '요청한 문제에 대한 응답을 받지 못했습니다.', 2);
                return;
            }
            gei('name').value = resp.data.result.name;
            gei('difficulty').selectedIndex = resp.data.result.difficulty+1;
            gei('branch').selectedIndex = resp.data.result.branch+1;
            gei('status').selectedIndex = resp.data.result.state+1;
            vContent.setValue(resp.data.result.content);
            vSolution.setValue(resp.data.result.solution);
            var tags = resp.data.result.tags;
            var pow = 1;
            while(true) {
                if(pow == 30) break;
                
                if(tags % 2 == 1) {
                    gei(`o${pow}`).checked = true;
                    if(tags == 1) break;
                    tags = (tags-1)/2;
                }
                else {
                    if(tags == 0) break;
                    tags /= 2;
                }
                pow++;
            }
            // TODO: load answer to html
            console.log(resp.data.result.answer);
        })
        .catch(error => {
            notification('문제를 불러오지 못했습니다.', axiosError(error), 2);
        });

</script>
<script src="/static/scripts/react/judgeSettings.js"></script>
<th:block th:replace="fragments/header.html :: mathquill"/>
</html>