<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="header">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--meta-->
        <meta name="title" content="LiLA">
        <meta name="description" content="LiLA">
        <!--OpenGraph-->
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://lila.r-e.kr/lib/resources/og_image.png">
        <meta property="og:url" content="https:/lila.r-e.kr">
        <meta property="og:site_name" content="LiLA">
        <meta property="og:locale" content="ko">
        <meta property="og:title" content="LiLA">
        <meta property="og:description" content="LiLA">
        <!--Twitter-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="https://lila.r-e.kr/lib/resources/og_image.png">
        <meta name="twitter:title" content="LiLA">
        <meta name="twitter:description" content="LiLA">
        <!--resource loader-->
        <link rel="stylesheet" href="/static/styles/lila.css">
        <script src="/static/scripts/lila.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </th:block>
    <th:block th:fragment="react">
        <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    </th:block>
</html>