div.authbox {
    padding: 20px;
    border: #eee solid 1px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px #eee;
    max-width: 230px;
}

h1.authbox-header {
    margin: 0 0 15px 0;
    width: 100%;
}

div.authbox-content {
    margin: 0 0 20px 0;
}

a.oauth {
    width: 46px;
    height: 46px;
    outline: none;
}
a.google {
    background-image: url('/static/images/google_signin_buttons/btn_google_light_normal_ios.svg');
}
a.kakao {
    background-image: url('/static/images/kakao_signin_buttons/ko/kakao_login_large_narrow.png');
}